*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/*--Reniciaraa
/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  
  /* Estilo para a barra de navegação */
  nav {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    background: transparent;
    backdrop-filter: blur(10px);
    font-size: 24px;
    font-weight: bold;
  }
  
  .menu {
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.5s;
  }
  
  .menu a:hover {
    color: #7a67cd;
  }
  
  /* Estilo para o cabeçalho */
  header {
    background-image: url('banner.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  
  .titulo {
    position: relative; /* Define o posicionamento relativo */
  }
  
  .titulo img {
    display: block; /* Garante que a imagem ocupe todo o espaço do contêiner */
    width: 100%; /* Pode ajustar conforme necessário */
    height: auto; /* Para manter a proporção */
  }
  
  .titulo p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font: weight 500px;
    font-size: 50px;
    position: absolute; /* Define o posicionamento absoluto */
    top: 50%; /* Posiciona o parágrafo no centro vertical */
    left: 50%; /* Posiciona o parágrafo no centro horizontal */
    transform: translate(-50%, -50%); /* Move o parágrafo de volta metade da sua largura e metade da sua altura para o centro */
    color: #f9f9f9;
    padding: 10px; /* Adiciona um preenchimento para melhorar a legibilidade */
  }
  
  
  .booking {
    background-color: rgba(24, 66, 191, 0.8);
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
  }
  
  .booking form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .booking label {
    margin-right: 10px;
  }
  
  .booking input[type="text"],
  .booking input[type="date"] {
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    border: none;
    width: 200px;
  }
  
  .booking button {
    padding: 10px 20px;
    background-color: #5e43d7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  .booking button:hover {
    background-color: #747cfa; 
  }
 
  /* Estilo para os próximos passeios e destinos */
/* Estilo para a seção de Passeios e Destinos */
.Passeios {
    padding: 50px 20px;
    text-align: center;
    display: flex;
  }
  
  .Passeios h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  /* Estilo para o grid de imagens */
  .fotos-passeio {
    display: grid;
    justify-content: end;
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr); /* Cria 4 colunas */
    gap: 10px; /* Espaçamento entre as imagens */
    /*justify-items: center; / Centraliza horizontalmente */
  }
  
.fotos{
  height: 300px;
  width: 300px;
}

  /* Estilo para as imagens */
  .fotos img {
    width: 100%; /* Ajusta a largura da imagem para ocupar o espaço da coluna */
    height: auto; /* Para manter a proporção */
    border-right: 1px solid #ccc; /* Adiciona borda à direita de cada imagem */
    padding-right: 20px; /* Espaçamento à direita para a borda */


  }

 
  
  
  /* Estilo para o texto ao lado das imagens */
  .info-passeio {
    text-align: left; 
  }
  .info-passeio img {
    text-align: right;
  }
  .info-passeio p {
    padding-right: 20px; /* Espaçamento à direita para a borda */
  }
  .buttonsaiba {
    background-color: #5e43d7 ; 
    font-size: 30px;
    transition: background-color 0.5s;
    } 
    
  

    .buttonsaiba {
      background-color: #5e43d7; /* Cor de fundo padrão */
      color: white; /* Cor do texto */
      padding: 10px 20px; /* Espaçamento interno */
      border: none; /* Remover borda */
      border-radius: 5px; /* Arredondar cantos */
      cursor: pointer; /* Cursor ao passar o mouse */
      transition: background-color 0.3s ease; /* Transição suave */
  }
  
  .buttonsaiba:hover {
      background-color: #747cfa; /* Cor de fundo ao passar o mouse */
  }
  

  /* Estilo para a seção de destinos */
.destinos {
  background: linear-gradient(to right, #FFE7C2,#BDACFF);
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
  }
  
  .destinos h1 {
    font-size: 32px;
    margin-bottom: 20
  }
  
  /* Estilo para o grid de imagens */
  .grupo-destinos {
    display: grid;
    grid-template-columns: repeat(2,1fr); /*repeat(auto-fit, minmax(200px, 1fr)); /Cria colunas automáticas */
    gap: 10px; /*Espaçamento entre as imagens */
    justify-content: center; /*Centraliza horizontalmente; */
  }
  
  
  /* Estilo para os cards de destinos */
  .card-destino {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .card-destino img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-destino div {
    padding: 20px;
  }
  
  .card-destino span {
    font-size: 24px;
    font-weight: bold;
  }
  
  .card-destino p {
    margin-bottom: 10px;
  }
  
  .card-destino .valor {
    margin-bottom: 20px;
  }
  
  .card-destino button {
    background-color: #5e43d7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  .card-destino button:hover {
    background-color:#747cfa;
    transition: color 0.5s;
  }
  
  /* Estilo para a seção de avaliações */
  .avaliacoes {
    background-color: #333;
    color: white;
    padding: 50px 20px;
    text-align: center;
  }
  
  .avaliacoes h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  /* Estilo para a seção de avaliações */
.avaliacoes {
    background-color: #333;
    color: white;
    padding: 50px 20px;
    text-align: center;
  }
  
  .avaliacoes h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  

.avaliacoes {
    background-color: #333;
    color: white;
    padding: 50px 20px;
    text-align: center;
  }
  
  .avaliacoes h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  /* Estilo para o carrossel de avaliações */
.carrossel {
    width: 80%; /* Definindo uma largura fixa para o carrossel */
    margin: 0 auto; /* Centralizando horizontalmente */
    position: relative;
    overflow: hidden;
    margin-top: 20px;
  }
  
  .cliente {
    flex: 0 0 auto;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
  }
  
  .cliente.active {
    opacity: 1;
  }
  
  .cliente p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .cliente img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .carrossel button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 36px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carrossel button.anterior {
    left: 20px;
  }
  
  .carrossel button.proximo {
    right: 20px;
  }
  
  
  
  
  /* Estilo para o rodapé */
  footer {
    background-color: #222;
    color: white;
    padding: 50px 20px;
    text-align: center;
  }
  
  .empresa h1.logo {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .parceiros h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .newsletter h3,
  .rede-social h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .newsletter input[type="text"] {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 4px 0 0 4px;
  }
  
  .newsletter button {
    padding: 10px 20px;
    background-color: #5e43d7;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  .newsletter button:hover {
    background-color: #747cfa;
  }
  
  .rede-social i {
    font-size: 32px;
    margin: 0 10px;
    transition: background-color 0.5s;
  }
  
  /* Estilo para os ícones de redes sociais */
  .fa-brands {
    font-size: 32px;
    margin: 0 10px;
  }
  
  .rede-social i:hover{
    background-color: #747cfa;
  }